<div class="pagination">

  <button class="pagination__btn pagination__btn_arrow"
          (click)="onPrev()"
  >
    <
  </button>

  <button class="pagination__btn"
  >
    ...
  </button>

  <button class="pagination__btn pagination__btn_page"
          *ngFor="let page of getPages()"
          (click)="onPage(page)"
          [ngClass]="{'pagination__page_active' : currentPage === page}"
  >
    {{page}}
  </button>

  <button class="pagination__btn "
          (click)="onPrev()"
  >
    ...
  </button>

  <button class="pagination__btn pagination__btn_arrow"
          (click)="onNext()"
  >
    >
  </button>

</div>

<select class="pagination__select" [(ngModel)]="perPage" (change)="changePerPageOption($event.target.value)">
  <option *ngFor="let perPageItem of perPageOptions" [value]="perPageItem">
    {{perPageItem}}
  </option>
</select>
