<div class="list-box">
  <div class="list-box__header">
    <div class="list-box__item">
      <div class="list-box__item-col">First Name</div>
      <div class="list-box__item-col">Last Name</div>
      <div class="list-box__item-col">Email</div>
      <div class="list-box__item-col">Phone</div>
      <div class="list-box__item-col">Company</div>
      <div class="list-box__item-col list-box__item-col_action"></div>
    </div>
  </div>
  <div class="list-box__body" *ngIf="users$ | async as users else loader">
    <app-user-item
      *ngFor="let user of users | slice:startUserIndex:lastUserIndex"
      [user]="user"
    ></app-user-item>
  </div>

  <app-pagination
    *ngIf="users$ | async as users"
    [currentPage]="currentPage"
    [itemsTotalCount]="users.length"
    [perPageOptions]="perPageOptions"
    [perPage]="perPage"
    [pagesToShow]="10"
    (goPrev)="prevPage()"
    (goNext)="nextPage()"
    (selectPage)="selectPage($event)"
    (changeUsersOnPage)="changeUsersOnPage($event)"
  ></app-pagination>

  <ng-template #loader>
    <div class="loader-container">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</div>
